.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  flex: 0 0 auto;

  &__title {
    margin-left: 10px;
    font-weight: 600;
    font-size: 24px;
  }
}
